
.jumbotron {
    margin: 20px;
    background-image: url(https://i.insider.com/5d13bdb69c51010ac83888b8?width=1000&format=jpeg&auto=webp);
    background-size: cover;
    color: white;
    text-align: center;
}

.form-control {
  display: inline-block;
  width: 250px;
  margin-top: 50px;
}